body {
    font-size: 1.2em;
    font-weight: normal;
    font-family: Arial, serif;
    background-color: white; 
    background-image: url("../_media/background.jpg") ;
    background-repeat: repeat;
    background-size: 100%;
    width: 1000px;
    margin: 0 auto;
    color:  #000000;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    border-style: none;
}

#title{
    text-shadow: 5px 5px #C0C0C0;
    font-size: 5em;
}

/*--------nav css--------*/
.navtab {
    border-style: solid;
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-left: transparent;
    border-right: transparent;
    height: 60px;
    color: black;
    text-align: center; 
    margin: 50;
    padding: 
}

nav ul {
  color: white;
  text-align: center;
  padding: 5px;
  margin: 0;
  list-style: none;
 
  }

  nav ul li {
    clear: none;
    display: inline-block;
    font-size: 1.5em;
    padding-top: 5px;
  }

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-size: 30px;
    padding: 20px;
  }

a:hover {
    color: #C0C0C0;
   
}

.projects ul li a{
    font-size: 15px;
    border-style: solid;
    border-top: transparent;
    border-bottom: solid 2px;
    border-left: transparent;
    border-right: transparent;
    margin: 12px;
    padding-bottom: 5px;
   
}

/*--------h1-h6-----*/
h1{
    font-size: 2.7em;
    text-align: center;
    font-family: Arial, serif;
    padding-top: 20px;
    padding-bottom: 0px;
}

h3{
    font-size: 2em;
    text-shadow: 2px 4px #C0C0C0;
    text-align: left;
    font-family: Arial, serif;
    padding-top: 20px;
    padding-bottom: 0px;
}


/*------About me code-----*/
#portrait{
    float: left;
    padding-bottom: none;
    padding-top: 5em;
    transform: rotate(90deg); 
    
}

#introduction{
    float: right;
}

#intro {
    margin-left: 500px;
}

#aboutme{
    text-align: right;
    margin-right:  175px;
    
}
/*------Freshman Year-----*/

#selfPortrait{
    float: right;
    margin: 0 0 10px 10px;
}

#teenPrevention{
    text-align: left;
}

#herosJourney{
    float: left;
    margin: 10px 10px 10px 10px;
}

/*----------Sophomore Year-------*/

#fable{
    float: left;
    margin: 0px 30px 10px 0px;
}

#ofrenda{
    float: left;
    margin: 0px 30px 10px 10px;
}

#revolution{
    float: right;
    margin: 0px 30px 10px 10px;
}

#shelter{
    float: left;
    margin: 0px 30px 10px 10px;
}

#hiphop{
    float:right;
}
/*------------Junior Page---------*/

#resumepdf{
    float: right;
    padding-right: 4em;
    padding-top: 5em;
    font-size: 40px;
}


/*------------Senior Page---------*/

